@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* body {
  font-family: "Karla";
  font-weight: 400;
} */

.card {
  border-radius: 0.5rem;
  width: 700px;
  height: 470px;
}

@media (max-width: 767px) {
  .card {
    padding: 2.5rem;
    width: 30rem;
    height: auto;
  }
}

@media (min-width: 370px) and (max-width: 500px) {
  body {
    margin-bottom: 3rem;
  }

  .card {
    padding: 3rem 0.5rem;
    width: 22rem;
  }
}

@media (min-width: 240px) and (max-width: 365px) {
  .card {
    padding: 3rem 0.75rem;
    width: 21rem;
  }
}
